<h1>Events#index</h1>
<p>Upcoming events:</p>
<% @events.where('date > ?', DateTime.now).each do |event| %>
<p><strong><%= link_to "#{event.name}", event_path(event) %></strong>| You can ask for details here -
<%= event.creator.email %></p>
<% end %>
<p>Past events:</p>
<% @events.where('date < ?', DateTime.now).each do |event| %>
<p><strong><%= link_to "#{event.name}", event_path(event) %></strong>| You can ask for details here -
<%= event.creator.email %></p>
<% end %>
