<h1>Events#index</h1>
<p>Upcoming events:</p>
<% @upcoming_events.each do |event| %>
  <p><strong><%= link_to "#{event.name}", event_path(event) %></strong>| You can ask for details here -
  <%= event.creator.email %></p>
<% end %>
<p>Past events:</p>
<% @past_events.each do |event| %>
  <p><strong><%= link_to "#{event.name}", event_path(event) %></strong>| You can ask for details here -
  <%= event.creator.email %></p>
<% end %>
